@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
  font-family: 'Varela Round', sans-serif;
  font-weight: normal;
  color: var(--black);
}

body {
  margin: 0;

}
:root {
    --primary:#F4F45C;
    --black:#080522;
    --dark:#3A2C3E;
    --light:#EFEFEF;
    --white:#ffffff;
}
.App {
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  position: relative;
  overflow: hidden;
}
.section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container {
  width: 1070px;
  margin: 100px auto;
  position: relative;
  z-index: 2;

  .row {
    display: flex;
    justify-content: space-between;
    margin: 0 -25px;
  }
  .col {
    width: 100%;
    margin: 0 25px 25px;
    &-2 {
      width: 50%;
    }
  }
  
}