.nav { 
  position: relative;
  background-color: transparent;
  display: flex; 
  flex-direction: column;
  height: 60px;
  justify-content: center;
  height: 10vh;
  transition: all .6s ease-in-out;
  &.open {
  height: 100vh;
    .brand {
    margin-top: 0;
    }
    .brand.aside {
      left: -50%;
    }
    .socials.aside {
      right: -500px;
    }
  }
  
  .brand {
    height: auto;
    margin-top: -375px;
    transition: all .6s ease-in-out;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.aside {
      position: absolute;
      margin-top: 0;
      font-size: 24px;
      left: 50px;
      .logo {
        display: none;
      }
      .name {
        font-size: 24px;
      }
    }
    .logo {
      height: 300px;
      width: 300px;
      border-radius: 100%;
      margin-bottom: 45px;
    }
    .name {
      color: var(--white);
      font-size: 42px;
      font-weight: bold;

    }
  }
  .socials {
    justify-content: center;
    display: flex;
    transition: all .6s ease-in-out;
    &.aside {
      position: absolute;
      margin-top: 0;
      font-size: 24px;
      right: 50px;
    }
    .social {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, .1);
      border-radius: 50%;
      margin: 0 10px;
      transition: all .6s ease-in-out;
      &--icon {
        max-height: 20px;
        width: 25px;
      }
      &:hover {
        background-color: rgba(255,255,255,0.1);
        cursor: pointer;
        .social--icon { 
          opacity: 1;
          font-weight: bold;
        }
      }
    }
  }
  
  .menu {
    display:flex;
    justify-content: center;
    margin: 60px 0;
    .menu-item {
      display:flex;
      height: 50px;
      padding: 0 25px;
      align-items: center;
      background-color: rgba(255, 255, 255, .1);
      border-radius: 10px;
      margin: 0 25px;
      &--title {
        color: var(--white);
        opacity: .5;
        font-weight: bold;
      }
      &.active {
        background-color: rgba(255,255,255,0.1);
        .menu-item--title { 
          opacity: 1;
          
        }
      }
      &:hover {
        cursor: pointer;
        .menu-item--title { 
          opacity: 1;
          font-weight: bold;
        }
      }
    }
  }
}